<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>C:\Program Files (x86)\Lua\5.1\lua.exe</StartProgram>
    <StartArguments>test/lcov.lua --cfg test/lcov_config.lua</StartArguments>
    <StartWorkingDirectory>D:\Projekte\ESP8266_weather</StartWorkingDirectory>
  </propertyGroup>
</Project>